*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* ------------------------------------------------------------------- */
html {
    scroll-behavior: smooth;
  }

/* -------------------------------------------------------------------- */
body{
    font-family: 'Roboto', sans-serif;
}
main {
    min-height: calc(100vh - 77.6px - 31.2px);  
    display: flex;
}
section{
    display: flex;
    flex-wrap: wrap;
}
.top{
    background: #D1891C;
    padding-left: 20px;
}
h1{
    background: #00669F;
    color: #FFFFFF;
    padding: 10px 0px 10px 15px;
}
.article{
    background: #F3F3F3;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    width: 300px;
    height: 568px;
    margin: 10px 20px 0px 20px;
    flex-flow: wrap;
}
.fondo{
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 170px;
}
.corazon{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 35px;
}
.foto{
    width: 120px;
    position: absolute;
    top: 110px;
    left: 90px;
}
.contenido{
    position: absolute;
    padding-top: 80px;
}
h2{
    text-align: center;
}
.parrafo{
    margin: 10px;
}
.boton{
    text-decoration: none;
    border-radius: 2px;
    font-size: 16px;
    padding: 10px 35px;
    background: #00669F;
    color: #FFFFFF;
    position: absolute;
    left: 80px;
    top: 330px
}
.circulo{
    width: 40px;
    position: fixed;
    right: 20px;
    top: 650px;
}
.mas{
    width: 25px;
    position: fixed;
    top: 660px;
    right: 28px;
}
.p_footer{
    color: #FFFFFF;
    background: #00669F;
    padding: 10px 0px 10px 15px;
    text-align: right;
    font-size: 9px;
    width: 100%;
}
.github{
    width: 40px; 
    height: 10px;
    margin-left: 40%;
    margin-right: 10px;
    background: #00669F;
}

@media (max-width: 600px) {
    .github{
        margin-left: 20%;
    }
    
  }